In [2]:
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None     # default='warn'

In [3]:
raw_fire = pd.read_csv('./raw/Fire_Incident_Dispatch_Data.csv')
raw_fire.head()

,STARFIRE_INCIDENT_ID,INCIDENT_DATETIME,ALARM_BOX_BOROUGH,ALARM_BOX_NUMBER,ALARM_BOX_LOCATION,INCIDENT_BOROUGH,ZIPCODE,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,...,FIRST_ACTIVATION_DATETIME,FIRST_ON_SCENE_DATETIME,INCIDENT_CLOSE_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,VALID_INCIDENT_RSPNS_TIME_INDC,INCIDENT_RESPONSE_SECONDS_QY,INCIDENT_TRAVEL_TM_SECONDS_QY,ENGINES_ASSIGNED_QUANTITY,LADDERS_ASSIGNED_QUANTITY,OTHER_UNITS_ASSIGNED_QUANTITY
0,1.836560e+15,12/31/2018 11:59:59 PM,QUEENS,6028,95 AVE & 110 ST,QUEENS,11419.0,102.0,28.0,409.0,...,01/01/2019 12:00:30 AM,NaN,01/01/2019 12:04:57 AM,N,N,0,0,1,0,0
1,1.836529e+15,12/31/2018 11:58:14 PM,BROOKLYN,2875,19 AVE & 84 ST,BROOKLYN,11214.0,62.0,47.0,311.0,...,12/31/2018 11:58:57 PM,01/01/2019 12:02:40 AM,01/01/2019 01:03:33 AM,N,Y,266,262,1,0,0
2,1.836541e+15,12/31/2018 11:57:05 PM,BRONX,4139,RANDALL AV & CROSS BX EXPY EB SVC RD,BRONX,10465.0,45.0,13.0,210.0,...,12/31/2018 11:57:36 PM,NaN,12/31/2018 11:58:07 PM,N,N,0,0,1,0,0
3,1.836530e+15,12/31/2018 11:57:02 PM,BRONX,2982,E TREMONT AVE & WEBSTER AVE,BRONX,10457.0,48.0,15.0,206.0,...,01/01/2019 12:02:23 AM,01/01/2019 12:02:55 AM,01/01/2019 12:09:40 AM,N,Y,353,217,1,1,0
4,1.836517e+15,12/31/2018 11:56:49 PM,MANHATTAN,1726,AUDUBON AVE & W 177 ST,MANHATTAN,10033.0,33.0,10.0,112.0,...,12/31/2018 11:57:47 PM,01/01/2019 12:00:51 AM,01/01/2019 12:14:05 AM,N,Y,242,203,3,2,1

In [4]:
# filter useful columns
fire_cols = ['STARFIRE_INCIDENT_ID', 'INCIDENT_DATETIME', 'ALARM_BOX_LOCATION', 'INCIDENT_CLASSIFICATION_GROUP']
data_fire = raw_fire[fire_cols]
data_fire.head(10)

,STARFIRE_INCIDENT_ID,INCIDENT_DATETIME,ALARM_BOX_LOCATION,INCIDENT_CLASSIFICATION_GROUP
0,1.836560e+15,12/31/2018 11:59:59 PM,95 AVE & 110 ST,Medical Emergencies
1,1.836529e+15,12/31/2018 11:58:14 PM,19 AVE & 84 ST,Medical Emergencies
2,1.836541e+15,12/31/2018 11:57:05 PM,RANDALL AV & CROSS BX EXPY EB SVC RD,Medical Emergencies
3,1.836530e+15,12/31/2018 11:57:02 PM,E TREMONT AVE & WEBSTER AVE,NonMedical Emergencies
4,1.836517e+15,12/31/2018 11:56:49 PM,AUDUBON AVE & W 177 ST,NonMedical Emergencies
5,1.836510e+15,12/31/2018 11:55:53 PM,TROY AVE & MAPLE ST,NonMedical MFAs
6,1.836510e+15,12/31/2018 11:55:02 PM,FOREST AVE & AMITY PL,NonMedical Emergencies
7,1.836542e+15,12/31/2018 11:54:45 PM,HYLAN BLVD AND RETFORD AVE,NonMedical MFAs
8,1.836504e+15,12/31/2018 11:53:46 PM,MARCY AVE & GERRY ST,NonStructural Fires
9,1.836502e+15,12/31/2018 11:52:41 PM,FOREST & SHARON AVES,Medical Emergencies

In [5]:
# drop NA
print(data_fire.shape[0])
data_fire.dropna(subset = fire_cols, inplace = True)
print(data_fire.shape[0])

3375198
3375169

# filter year 2015

In [6]:
data_fire['timestamp'] = data_fire.apply(lambda L: pd.to_datetime(L['INCIDENT_DATETIME'], format = '%m/%d/%Y %I:%M:%S %p'), axis = 1)
data_fire15 = data_fire[(data_fire['timestamp'] >= '2015-01-01 00:00:00') & (data_fire['timestamp'] < '2016-01-01 00:00:00')]
print('#rows:', data_fire15.shape[0])
data_fire15.head(10)

#rows: 581978

,STARFIRE_INCIDENT_ID,INCIDENT_DATETIME,ALARM_BOX_LOCATION,INCIDENT_CLASSIFICATION_GROUP,timestamp
1794191,1.536517e+15,12/31/2015 11:59:49 PM,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-31 23:59:49
1794192,1.536514e+15,12/31/2015 11:59:11 PM,LEXINGTON AVE & 119 ST,NonMedical Emergencies,2015-12-31 23:59:11
1794193,1.536577e+15,12/31/2015 11:58:57 PM,ASTORIA BLVD AND 93RD ST,Medical Emergencies,2015-12-31 23:58:57
1794194,1.536525e+15,12/31/2015 11:58:36 PM,WESTCHESTER AVE & FAILE ST,NonStructural Fires,2015-12-31 23:58:36
1794195,1.536537e+15,12/31/2015 11:57:49 PM,BRIGHTON BEACH AVE & BRIGHTON 15 ST,Medical Emergencies,2015-12-31 23:57:49
1794196,1.536503e+15,12/31/2015 11:57:47 PM,PITT & BROOME STS,NonMedical Emergencies,2015-12-31 23:57:47
1794197,1.536515e+15,12/31/2015 11:56:47 PM,PARK AVE & 124 ST,Medical Emergencies,2015-12-31 23:56:47
1794198,1.536585e+15,12/31/2015 11:56:21 PM,"LINCOLN HLTH CTR, 149 ST & MORRIS AV-TEL",NonMedical Emergencies,2015-12-31 23:56:21
1794199,1.536531e+15,12/31/2015 11:55:31 PM,E BURNSIDE AVE & VALENTINE AVE,Medical Emergencies,2015-12-31 23:55:31
1794200,1.536537e+15,12/31/2015 11:54:48 PM,KINGSBRIDGE AVE & W 232 ST,Structural Fires,2015-12-31 23:54:48

In [9]:
data_fire15.drop(['INCIDENT_DATETIME'], axis = 1, inplace = True)
print('#rows:', data_fire15.shape[0])
data_fire15.head()

#rows: 581978

,STARFIRE_INCIDENT_ID,ALARM_BOX_LOCATION,INCIDENT_CLASSIFICATION_GROUP,timestamp
1794191,1.536517e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-31 23:59:49
1794192,1.536514e+15,LEXINGTON AVE & 119 ST,NonMedical Emergencies,2015-12-31 23:59:11
1794193,1.536577e+15,ASTORIA BLVD AND 93RD ST,Medical Emergencies,2015-12-31 23:58:57
1794194,1.536525e+15,WESTCHESTER AVE & FAILE ST,NonStructural Fires,2015-12-31 23:58:36
1794195,1.536537e+15,BRIGHTON BEACH AVE & BRIGHTON 15 ST,Medical Emergencies,2015-12-31 23:57:49

In [7]:
# check categories
data_fire15['INCIDENT_CLASSIFICATION_GROUP'].unique()

array(['Medical Emergencies', 'NonStructural Fires', 'NonMedical MFAs',
       'NonMedical Emergencies', 'Medical MFAs', 'Structural Fires'], dtype=object)

In [72]:
# separate medical/non-medical
data_medical = data_fire15[(data_fire15['INCIDENT_CLASSIFICATION_GROUP'] == 'Medical MFAs') | (data_fire15['INCIDENT_CLASSIFICATION_GROUP'] == 'Medical Emergencies')]
data_nonmed = data_fire15[(data_fire15['INCIDENT_CLASSIFICATION_GROUP'] != 'Medical MFAs') & (data_fire15['INCIDENT_CLASSIFICATION_GROUP'] != 'Medical Emergencies')]
print('ems #rows:', data_medical.shape[0])
print('fire #rows:', data_nonmed.shape[0])

ems #rows: 269951
fire #rows: 312027

In [12]:
# EMS
data_medical.head()

,STARFIRE_INCIDENT_ID,ALARM_BOX_LOCATION,INCIDENT_CLASSIFICATION_GROUP,timestamp
1794193,1.536577e+15,ASTORIA BLVD AND 93RD ST,Medical Emergencies,2015-12-31 23:58:57
1794195,1.536537e+15,BRIGHTON BEACH AVE & BRIGHTON 15 ST,Medical Emergencies,2015-12-31 23:57:49
1794197,1.536515e+15,PARK AVE & 124 ST,Medical Emergencies,2015-12-31 23:56:47
1794199,1.536531e+15,E BURNSIDE AVE & VALENTINE AVE,Medical Emergencies,2015-12-31 23:55:31
1794203,1.536575e+15,25 AVE & 46 ST,Medical Emergencies,2015-12-31 23:54:09

In [13]:
# fire
data_nonmed.head()

,STARFIRE_INCIDENT_ID,ALARM_BOX_LOCATION,INCIDENT_CLASSIFICATION_GROUP,timestamp
1794191,1.536517e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-31 23:59:49
1794192,1.536514e+15,LEXINGTON AVE & 119 ST,NonMedical Emergencies,2015-12-31 23:59:11
1794194,1.536525e+15,WESTCHESTER AVE & FAILE ST,NonStructural Fires,2015-12-31 23:58:36
1794196,1.536503e+15,PITT & BROOME STS,NonMedical Emergencies,2015-12-31 23:57:47
1794198,1.536585e+15,"LINCOLN HLTH CTR, 149 ST & MORRIS AV-TEL",NonMedical Emergencies,2015-12-31 23:56:21

# Geocoding w/ Google Maps API

In [15]:
from geopy.geocoders import GoogleV3     # pip install geopy
from geopy.extra.rate_limiter import RateLimiter

In [33]:
# check unique box locations
box_loc = pd.DataFrame(data_fire15['ALARM_BOX_LOCATION'].drop_duplicates())
print(box_loc.shape[0])
box_loc.head(10)

18124

                               ALARM_BOX_LOCATION
1794191                         BROADWAY & 151 ST
1794192                    LEXINGTON AVE & 119 ST
1794193                  ASTORIA BLVD AND 93RD ST
1794194                WESTCHESTER AVE & FAILE ST
1794195       BRIGHTON BEACH AVE & BRIGHTON 15 ST
1794196                         PITT & BROOME STS
1794197                         PARK AVE & 124 ST
1794198  LINCOLN HLTH CTR, 149 ST & MORRIS AV-TEL
1794199            E BURNSIDE AVE & VALENTINE AVE
1794200                KINGSBRIDGE AVE & W 232 ST

In [34]:
# add city name for geocoding
def addNYC(adr):
    return str(adr) + ', NYC'

box_loc['address'] = box_loc['ALARM_BOX_LOCATION'].apply(addNYC)
box_loc.head(10)

,ALARM_BOX_LOCATION,address
1794191,BROADWAY & 151 ST,"BROADWAY & 151 ST, NYC"
1794192,LEXINGTON AVE & 119 ST,"LEXINGTON AVE & 119 ST, NYC"
1794193,ASTORIA BLVD AND 93RD ST,"ASTORIA BLVD AND 93RD ST, NYC"
1794194,WESTCHESTER AVE & FAILE ST,"WESTCHESTER AVE & FAILE ST, NYC"
1794195,BRIGHTON BEACH AVE & BRIGHTON 15 ST,"BRIGHTON BEACH AVE & BRIGHTON 15 ST, NYC"
1794196,PITT & BROOME STS,"PITT & BROOME STS, NYC"
1794197,PARK AVE & 124 ST,"PARK AVE & 124 ST, NYC"
1794198,"LINCOLN HLTH CTR, 149 ST & MORRIS AV-TEL","LINCOLN HLTH CTR, 149 ST & MORRIS AV-TEL, NYC"
1794199,E BURNSIDE AVE & VALENTINE AVE,"E BURNSIDE AVE & VALENTINE AVE, NYC"
1794200,KINGSBRIDGE AVE & W 232 ST,"KINGSBRIDGE AVE & W 232 ST, NYC"

In [ ]:
# geocoder
geolocator = GoogleV3('YOUR-GCP-CREDENTIAL')
geocode = RateLimiter(geolocator.geocode, min_delay_seconds = 1)
box_loc['location'] = box_loc['address'].apply(geocode)

In [ ]:
# fetch Latitude/Longitude
def lst2loc(loc_lst):
    if loc_lst is not None:
        lat = loc_lst.latitude
        lon = loc_lst.longitude
    else:
        lat = None
        lon = None
    return lat, lon

box_loc['lat'], box_loc['lon'] = zip(*box_loc['location'].map(lst2loc))
box_loc.head(10)

In [ ]:
# save geocoding result
box_loc.to_csv('./raw/box_location_raw.csv')

# join & save

In [69]:
# load geocoded result
box_loc = pd.read_csv('./raw/box_location_raw.csv')
box_loc.head()

,Unnamed: 0,ALARM_BOX_LOCATION,location,lat,lon
0,0,133 AVE & 125 ST,"133rd Ave & 125th St, Queens, NY 11420, USA",40.671212,-73.813892
1,1,CRUGER AVE & ALLERTON AVE,"Cruger Ave & Allerton Ave, The Bronx, NY 10467...",40.865449,-73.866342
2,2,MANGIN & DELANCEY STS,"Delancey St & Mangin St, New York, NY 10002, USA",40.714883,-73.977584
3,3,AVENUE P & E 24 ST,"E 24th St & Avenue P, Brooklyn, NY 11229, USA",40.611355,-73.949778
4,4,ROOSEVELT AVE & 80 ST,"Roosevelt Ave & 80th St, Queens, NY 11372, USA",40.747450,-73.885790

In [78]:
# EMS
medical_join = pd.merge(data_medical, box_loc, on = 'ALARM_BOX_LOCATION')
print(medical_join.shape[0])
medical_join.dropna(inplace = True)   # drop NA
medical_join.drop_duplicates(inplace = True)   # drop duplicate rows
print(medical_join.shape[0])
medical_join.head()

341913
341454

,STARFIRE_INCIDENT_ID,ALARM_BOX_LOCATION,INCIDENT_CLASSIFICATION_GROUP,timestamp,Unnamed: 0,location,lat,lon
0,1.536577e+15,ASTORIA BLVD AND 93RD ST,Medical Emergencies,2015-12-31 23:58:57,3985,"Astoria Blvd & 93rd St, Queens, NY 11369, USA",40.763115,-73.876323
1,1.535377e+15,ASTORIA BLVD AND 93RD ST,Medical Emergencies,2015-12-19 11:14:46,3985,"Astoria Blvd & 93rd St, Queens, NY 11369, USA",40.763115,-73.876323
2,1.532577e+15,ASTORIA BLVD AND 93RD ST,Medical Emergencies,2015-11-21 06:38:24,3985,"Astoria Blvd & 93rd St, Queens, NY 11369, USA",40.763115,-73.876323
3,1.531077e+15,ASTORIA BLVD AND 93RD ST,Medical Emergencies,2015-11-06 19:37:52,3985,"Astoria Blvd & 93rd St, Queens, NY 11369, USA",40.763115,-73.876323
4,1.530277e+15,ASTORIA BLVD AND 93RD ST,Medical Emergencies,2015-10-29 12:38:28,3985,"Astoria Blvd & 93rd St, Queens, NY 11369, USA",40.763115,-73.876323

In [79]:
# save EMS15
data_ems15 = medical_join[['STARFIRE_INCIDENT_ID', 'timestamp', 'lat', 'lon']].copy()
data_ems15.to_csv('./data/ems15.csv')

In [80]:
# fire
nonmed_join = pd.merge(data_nonmed, box_loc, on = 'ALARM_BOX_LOCATION')
print(nonmed_join.shape[0])
nonmed_join.dropna(inplace = True)   # drop NA
nonmed_join.drop_duplicates(inplace = True)   # drop duplicate rows
print(nonmed_join.shape[0])
nonmed_join.head()

410408
408757

,STARFIRE_INCIDENT_ID,ALARM_BOX_LOCATION,INCIDENT_CLASSIFICATION_GROUP,timestamp,Unnamed: 0,location,lat,lon
0,1.536517e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-31 23:59:49,1011,"Broadway/W 151 St, New York, NY 10031, USA",40.830414,-73.947319
1,1.535917e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-25 16:29:51,1011,"Broadway/W 151 St, New York, NY 10031, USA",40.830414,-73.947319
2,1.535617e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-22 18:51:29,1011,"Broadway/W 151 St, New York, NY 10031, USA",40.830414,-73.947319
3,1.535017e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-16 21:47:12,1011,"Broadway/W 151 St, New York, NY 10031, USA",40.830414,-73.947319
4,1.534917e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-15 21:31:43,1011,"Broadway/W 151 St, New York, NY 10031, USA",40.830414,-73.947319

In [85]:
# categorize rescue/fire
print(nonmed_join['INCIDENT_CLASSIFICATION_GROUP'].unique())

def classify_fire(category):
    if category == 'NonMedical Emergencies' or category == 'NonMedical MFAs':
        return 'RESCUE'
    elif category == 'Structural Fires' or category == 'NonStructural Fires':
        return 'FIRE'
    else:
        raise Exception('Unknown fire category.')

nonmed_join['CATEGORY'] = nonmed_join['INCIDENT_CLASSIFICATION_GROUP'].apply(classify_fire)
nonmed_join.head()

['NonMedical Emergencies' 'Structural Fires' 'NonMedical MFAs'
 'NonStructural Fires']

,STARFIRE_INCIDENT_ID,ALARM_BOX_LOCATION,INCIDENT_CLASSIFICATION_GROUP,timestamp,Unnamed: 0,location,lat,lon,CATEGORY
0,1.536517e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-31 23:59:49,1011,"Broadway/W 151 St, New York, NY 10031, USA",40.830414,-73.947319,RESCUE
1,1.535917e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-25 16:29:51,1011,"Broadway/W 151 St, New York, NY 10031, USA",40.830414,-73.947319,RESCUE
2,1.535617e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-22 18:51:29,1011,"Broadway/W 151 St, New York, NY 10031, USA",40.830414,-73.947319,RESCUE
3,1.535017e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-16 21:47:12,1011,"Broadway/W 151 St, New York, NY 10031, USA",40.830414,-73.947319,RESCUE
4,1.534917e+15,BROADWAY & 151 ST,NonMedical Emergencies,2015-12-15 21:31:43,1011,"Broadway/W 151 St, New York, NY 10031, USA",40.830414,-73.947319,RESCUE

In [86]:
print('#rows rescue:', nonmed_join[nonmed_join['CATEGORY']=='RESCUE'].shape[0])
print('#rows fire:', nonmed_join[nonmed_join['CATEGORY']=='FIRE'].shape[0])

#rows rescue: 352713
#rows fire: 56044

In [87]:
# save fire15
data_fire15 = nonmed_join[['STARFIRE_INCIDENT_ID', 'timestamp', 'lat', 'lon', 'CATEGORY']].copy()
data_fire15.to_csv('./data/fire15.csv')